@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #FFF;
    --orange: #FFB742;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.header >  {
    width: 33%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem 0rem 3rem;
    align-items: center;
}


.header > .header__nav {
    width: 30%;;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav li {
    list-style: none;
}

.button {
    width: 121px;
    height: 54px;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: var(--white);
    color: #212529;
    border: 2px solid var(--white);
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.1s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--orange);
    border: var(--white);
}

.header__nav a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.125rem;
    transition: background-color 0.1s;
}

.header__nav a:hover {
    color: var(--orange);
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    padding: 6.25rem;
    text-transform: capitalize;
}

.information__1 {
    font-size: 2rem;
}

.information__2 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.information__3 {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding-bottom: 1.5rem;
}

.highlight {
    color: var(--orange);
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 14rem;
  }
  
  .custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5rem;
    width: 27rem;
    background-color: #292B2E;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.1s;
    cursor: pointer;
  }

  .custom-button:hover {
    background: linear-gradient(94deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
  }
  
  .custom-button img {
    width: 4rem;
    margin-right: 1rem;
  }
  
  .custom-button .text-container {
    margin-right: 3.5rem;
    margin-left: 3.5rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    transition: color 0.1s;
  }
  
  .custom-button span {
    font-size: 1.25rem;
    color: #B3B3B3;
  }

  .custom-button:hover .text-container {
    color: #212529;
  }

  .custom-button .text-container .text-container__left .number,
.custom-button .text-container .text-container__center .number,
.custom-button .text-container .text-container__right .number {
    font-size: 2rem;
    color: var(--orange)
}

.custom-button:hover .text-container .text-container__left .number,
.custom-button:hover .text-container .text-container__center .number,
.custom-button:hover .text-container .text-container__right .number {
  color: #212529;
}

.content-container {
    display: flex;
    align-items: center;
}

.about {
    display: flex;

}

.about-img {
width: 50%;
margin-bottom: 1rem;
}

.about-text {
width: 50%;
}

.about-text > h1 {
    font-size: 3rem;
    color: var(--white);
    line-height: 187.5%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.about-text > h3 {
    font-size: 1rem;
    margin: 0;
    color: #D4D4D4;
    font-weight: 400;
    line-height: 187.5%;
    margin-right: 4.1rem;
}

.special-image {
    position: absolute;
    top: 65rem;
    right: 39rem;
  }
  
  .about-button {
    width: 147px;
    height: 54px;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: var(--white);
    color: #212529;
    border: 2px solid var(--white);
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.1s;
    margin-top: 3.3rem;
    cursor: pointer;
  }

  .about-button:hover {
    background-color: var(--orange);
    border: var(--white);
}


.icon-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.icon-row {
    display: flex;
    margin-bottom: 1rem;
}

.icon-item {
    margin-left: 1rem;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #383E45;
}

.icon-item img {
    width: 3rem;
    height: 3rem;
}

.icon-item:hover {
    background: rgba(255, 183, 66, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000;
}

.icon-text {
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
}

.content-container {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 3rem 3rem 3rem;
}

.icon-text h2 {
    font-size: 3rem;
    padding-top: 1rem;
    margin-bottom: 1.75rem;
    font-family: 'Roboto', sans-serif;
}

.icon-text h3 {
    font-size: 1rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 187.5%;
}

.special-image2 {
    position: absolute;
    top: 106.5rem;
    right: 83.1rem;
  }

.icon-button {
    width: 147px;
    height: 54px;
    font-size: 1.125rem;
    font-weight: 700;
    background-color: var(--white);
    color: #212529;
    border: 2px solid var(--white);
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.1s;
    margin-left: 3rem;
    margin-bottom: 8.5rem;
    cursor: pointer;
}

.icon-button:hover {
    background-color: var(--orange);
    border: var(--white);
}

.folks{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wo{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: var(--white);
}

.pic-nav {
    display: flex;
    justify-content: center;
}

.pic-nav li {
    list-style: none;
     margin-top: 1.8rem;
     margin-bottom: 3rem;
}

.pic-nav a {
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px 10px 20px;
    font-weight: 600;
    line-height: 187.5%;
    margin: 1.4rem;
}

.pic-nav a:hover {
    background: #FFB742;
    border-radius: 3px;
    color: #212529;
}

.image_contr {
    margin: 0 auto;
    max-width: 80%;
    overflow: hidden;
}

.image_contr img {
    max-width: 100%;
    height: auto;
    margin: 0 4px 16px 4px;
    float: left;
    width: calc(33.333% - 8px);

}

.image_contr img:first-child {
    margin-left: 0px;
}

.image_contr img:last-child {
    margin-right: 0px;
}

.image_contr img:nth-child(2) {
    margin-top: -8px;
}

.image_contr img:nth-child(5) {
    margin-bottom: 0;
    margin-top: -207px;
}

.test {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

.what {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0.5rem;
}

.what > span {
    font-size: 2.5rem;
    color: var(--white);
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

.reviews-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5.5rem;
    justify-content: center;
  }

  .review-container {
    background-color: #fff;
   padding: 2.3rem 4rem 3rem 2rem;
    border-radius: 8px;
    width: 28%;
    margin-bottom: 20px;
    box-sizing: border-box;
    margin-right: 2.5rem;
  }

  .stars {
    color: var(--orange);
    font-size: 1.1rem;
    letter-spacing: 0.5rem;
  }

  .review-text {
    margin-top: 10px;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    line-height: 170%;
    font-weight: 400;
    color: #000;
  }

  .author-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .author-image {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    margin-right: 1.5rem;
  }

  .author-name {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .author-position {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }

  .footer {
    background-color: #1C1C1C;
    color: #fff;
    padding: 9rem 0;
    margin-top: 15rem;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  
  .column {
    width: 20%;
  }

  .column h2 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
    color: var(--orange);
  }
  
  .column h3 {
    font-size: 1.3rem;
    color: #F5FBF2;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 147%;
  }
  
  .column p {
    font-size: 1rem;
    font-weight: 600;
    color: #D4D4D4;
    line-height: 202%;
    font-family: 'Work Sans', sans-serif;
  }
  
  .useful-links a,
  .social-media a {
    display: block;
    color: #7B7B7B;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .useful-links a:hover,
.social-media a:hover {
  color: var(--orange);
}
  
.newsletter input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    outline: none;
  }

  .newsletter button {
    background-color: #D4D4D4 ;
    color: #212529;
    border: none;
    padding: 0.8rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  
  .newsletter button:hover {
    background-color: var(--orange);
  }